@model vocabadmin.Models.Vocabulary

@{
}

<table class="table" id="vocab_table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">@Html.DisplayNameFor(m => m.Word)</th>
            <th scope="col">@Html.DisplayNameFor(m => m.Meaning)</th>
            <th scope="col">@Html.DisplayNameFor(m => m.Definition)</th>
            <th scope="col">@Html.DisplayNameFor(m => m.Sentence)</th>
            <th scope="col">Image</th>
            <th scope="col">Audio</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        <tr id="vocab_row_default">
            <td scope="col" id="col_1"></td>
            <td scope="col" id="col_2"></td>
            <td scope="col" id="col_3"></td>
            <td scope="col" id="col_4"></td>
            <td scope="col" id="col_5"></td>
            <td scope="col" id="col_6"></td>
            <td scope="col" id="col_7"></td>
            <td scope="col" id="col_8"></td>

        </tr>
    </tbody>
</table>