@{
    ViewData["Title"] = "Privacy Policy";
}

@section Header {

    @{Html.RenderPartial("_Header");}
    
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
